body {
  margin: 0;

}
.App {
  background-image: linear-gradient(to bottom right, pink, grey);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Lucida handwriting";
}

a {
  color: black;
}

.link {
  display: flex;
  justify-content: space-around;
  border-style: dashed;
  width: 90%;
  text-align: center;
  border-radius: 8px;
  background-color: lemonchiffon;
  border-color: blanchedalmond;
  margin-bottom: 5%;
}